<div>
  <span>
    Adicione uma nova monitoria
  </span>
  <ion-item>
    <ion-label position="floating">Digite o seu nome</ion-label>
    <ion-input [(ngModel)]="monitoria.monitor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite a disciplina</ion-label>
    <ion-input [(ngModel)]="monitoria.disciplina"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite a data</ion-label>
    <ion-input [(ngModel)]="monitoria.data"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite o horário</ion-label>
    <ion-input [(ngModel)]="monitoria.horario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite o local</ion-label>
    <ion-input [(ngModel)]="monitoria.local"></ion-input>
  </ion-item>
  
  <ion-button (click)="confirmMonitoria()">
    Enviar
  </ion-button>
  
</div>
