<ion-content>

    <div id="header">
        <div id="logo">
        </div>

    </div>

    <div class="campos">
        <ion-card class="form-campos">
            <ion-card-content>
                <p>Seja bem-vindo!</p>
                <h1>Faça seu Login</h1>
             <form>
                <ion-item>
                    <ion-icon name="mail"></ion-icon>
                    <input [FormControl]="email" required [(ngModel)]="creds.email" name="email" type="text" placeholder="Email Institucional" clearInput="true">
                </ion-item>
                <ion-item>
                    <ion-icon name="lock-closed"></ion-icon>
                    <input required [(ngModel)]="creds.senha" name="senha" type="password" placeholder="Senha" clearInput="true">
                </ion-item>
                <ion-button [disabled]="!validaCampos()" expand="block">Login</ion-button>
                <ion-button class="botao-registro" expand="block">Criar sua conta</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </div>

</ion-content> 