<ion-content padding>
    <div class="heading">
        <h1>Entrar agora</h1>
        <p>Por favor faça seu login para continuar</p> 
    </div>

        <form>
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Senha</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
            <ion-button (click)="showTab1()">Login</ion-button>
        </form>
        <button ion-button outline (click)="showRegister()">Registrar</button>
</ion-content> 