
  <ion-tabs fixed>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="monitorias">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Monitorias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pesquisar">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Disciplinas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="configuracoes">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

