<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="#4433FF">
    </ion-item>
    <ion-item color="#4433FF">
      <ion-label>Cursos e matérias</ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<ion-searchbar #search debounce="500" (ionChange)="($event)" placeholder="Faça sua busca"></ion-searchbar>

<ion-content>
  <ion-card>
    <ion-item>
      <img src="assets/eletro-icon.png" name="pin" slot="start">
      <ion-label>Eletrotécnica</ion-label>
      <ion-button slot="end">Acessar</ion-button>
    </ion-item>

    <ion-card-content>
      Disciplinas da matéria do curso técnico de Eletrotécnica.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="assets/info-icon.png" name="pin" slot="start">
      <ion-label>Informática</ion-label>
      <ion-button slot="end">Acessar</ion-button>
    </ion-item>

    <ion-card-content>
      Disciplinas da matéria do curso técnico de Informática.
    </ion-card-content>
  </ion-card>
</ion-content>