<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 45px;">
        Monitorias
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
  
  <ion-content>

    <ion-card *ngFor="let monitoria of monitorias">
      <ion-card-header>
        <ion-card-title>DISCIPLINA: {{monitoria.disciplina}}</ion-card-title>
        <ion-card-subtitle>MONITOR: {{monitoria.monitor}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        DATA E HORA: {{monitoria.dataehora | date: 'shortDate'}}<br>
        LOCAL: {{monitoria.local}}<br>

        <div class="action-buttons">
          <ion-icon name="trash-outline" color="danger" style="margin-bottom: 10px;" (click)="deleteMonitoria(monitoria.id)"></ion-icon>
          <ion-icon name="create-outline" color="success" (click)="openEditMonitoria(monitoria)"></ion-icon>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end" vertical="down" slot="fixed">
      <ion-fab-button id="open-modal" (click)="openEditMonitoria()" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

   <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="monitorias">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Monitorias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="showTab2()" tab="pesquisar">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Pesquisar</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="showTab3()" tab="configuracoes">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

  </ion-content>