<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="text-align: center; font-weight: 800;font-size: 45px; margin:15px">
        Monitorias
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
  
  <ion-content>

    <ion-card *ngFor="let monitoria of monitorias">
      <ion-card-header>
        <ion-card-title>DISCIPLINA: {{monitoria.disciplina.nome}}</ion-card-title>
        <ion-card-subtitle>MONITOR: {{monitoria.monitor.nomeCompleto}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        DATA E HORA: {{ monitoria.data + ' ' + monitoria.horario}}<br>
        LOCAL: {{monitoria.local}}<br>

        <div class="action-buttons">
          <ion-icon name="trash-outline" color="danger" style="margin-bottom: 10px;" (click)="deleteMonitoria(monitoria.id)"></ion-icon>
          <ion-icon name="create-outline" color="success" (click)="openEditMonitoria(monitoria)"></ion-icon>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end" vertical="down" slot="fixed">
      <ion-fab-button id="open-modal" (click)="openEditMonitoria()" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>