ion-header {
    ion-list {
        background: #4433FF;
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;

        ion-item {
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
            }
        }
    }
}

ion-button {
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    --background: #4433FF;
}

h6 {
    font-size: 15px;
    margin-left: 16px;
}

p {
    font-size: 15px;
    margin-left: 16px;
}