<ion-header [translucent]="true">

  
  <ion-toolbar>
    <ion-title>
        Crie uma nova conta
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form>

    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-list radio-group formControlName="curso">
      <ion-list-header>
        Curso*
      </ion-list-header>
      <ion-item>
        <ion-label>Informática</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Eletrotécnica</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
      

    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>

    <button (ngSubmit)="singupUser(); $event.preventDefault()" ion-button block type="submit">Criar conta</button>
    </form>
</ion-content>
