<ion-header>
  <ion-toolbar>
    <ion-title>Disciplinas de Eletrotécnica</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Faça sua busca"
      [(ngModel)]="queryText"
      (ionInput)="filterDisciplina($event)"
      clearInput>
  </ion-searchbar>
  <ion-list></ion-list>
  <ion-item *ngFor="let disciplinas of monitoriasEletro">
    <ion-label>{{disciplinas.nome}}</ion-label>
    <p> ID: {{disciplinas.id}}</p>
  </ion-item>
</ion-content>